html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(135deg, #3f51b5 0%, #9c27b0 100%);
}

* {
    box-sizing: border-box;
}

.MuiBox-root {
    margin: 0;
    padding: 0;
}